<div id="footer">
    <div class="container text-center">
      <div class="col-md-4">
        <h3>Dirección</h3>
        <div class="contact-item">
          <p>{{direccion1}}</p>
          <p>{{direccion2}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Horas de apertura</h3>
        <div class="contact-item">
          <p>Lunes-Jueves: {{aperturaEntreSemana}}</p>
          <p>Viernes y Domingos: {{aperturaFindes}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Información de contacto</h3>
        <div class="contact-item">
          <p>Tlfno: +34 {{telefono}}</p>
          <p>Email: {{email}}</p>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center copyrights">
      <div class="col-md-8 col-md-offset-2">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <p>&copy; 2016 Touché. All rights reserved. Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
      </div>
    </div>
  </div>