<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Gestión {{ title }}
  </h1>

</div>
<br>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline ">
    <button (click)="Inicio()" class="btn btn-light mr-4" >Inicio</button>
    <button (click)="GestionarReservas()" class="btn btn-light m-2" >Gestionar Reservas</button>
    <button (click)="GestionarClientes()" class="btn btn-light m-2" >Gestionar Clientes</button>
    <button (click)="GestionarTrabajadores()" class="btn btn-light m-2" >Gestionar
      Trabajadores</button>
    <button (click)="GestionarProducto()" class="btn btn-light m-2" >Gestionar Productos</button>
    <button (click)="GestionarInfo()" class="btn btn-light m-2" >Información Empresa</button>
  </form>
</nav>
<hr>
<router-outlet></router-outlet>