.jefe{
    color: #333;
    font-weight: bold;
}
.empleado{
    color: #555;
    font-weight: 500;
}
tr td img{
    width: 130px; border-radius: 15%;margin: 5px;
}
td{
    vertical-align: middle;
}
button{
    margin: 5px auto;
    display: block;

}