<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 style="display: inline-block;">Gestionar trabajadores</h3>
      <button (click)="NuevoTrabajador()" class="btn btn-outline-success" style="float: right;">Nuevo Trabajador</button>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th></th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>RANGO</th>
            <th>CATEGORIA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabajador of trabajadores" class="text-center table-light">
            <td><img src="{{trabajador.imagen}}" alt=""></td>
            <td>{{trabajador.nombre}}</td>
            <td>{{trabajador.apellidos}}</td>
            <td *ngIf="trabajador.rango=='Jefe'" class="jefe">{{trabajador.rango}}</td>
            <td *ngIf="trabajador.rango=='Empleado'" class="empleado">{{trabajador.rango}}</td>
            <td>{{trabajador.categoria}}</td>
            <td>
              <button (click)="Ver(trabajador)" class="btn btn-outline-info">Ver perfil</button>
              <button (click)="Editar(trabajador)" class="btn btn-outline-warning">Editar
                perfil</button>
              <button (click)="Delete(trabajador)" class="btn btn-outline-danger" >Borrar
                perfil</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>