<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Modificar datos de {{trabajador.nombre + " "+ trabajador.apellidos}}</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="">Nombre:</label>
              <input [(ngModel)]="trabajador.nombre" name="nombre" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Apellidos:</label>
              <input [(ngModel)]="trabajador.apellidos" name="apellidos" type="text" class="form-control">
            </div>
            <div class="form-group ">
              <label for="">Descripcion:</label>
              <textarea [(ngModel)]="trabajador.descripcion" name="descripcion" id="" class="form-control" cols="30"
                rows="12"></textarea>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="">Imagen Url:</label>
              <input [(ngModel)]="trabajador.imagen" name="imagen" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Dirección:</label>
              <input [(ngModel)]="trabajador.direccion" name="direccion" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Contacto:</label>
              <input [(ngModel)]="trabajador.contacto" name="contacto" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="estado">Estado: </label>
              <select (change)="selectChangeEstado($event)" id="estado" class="browser-default custom-select">
                <option *ngFor="let e of estado" 
                [ngValue]="e"
                [selected]="e === trabajador.estado"
                >{{e}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="rango">Rango: </label>
              <select (change)="selectChangeRango($event)" id="rango" class="browser-default custom-select">
                <option *ngFor="let r of rango" 
                [ngValue]="r"
                [selected]="r === trabajador.rango"
                >{{r}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="categoria">Categoria: </label>
              <select (change)="selectChangeCategoria($event)" id="categoria"
                class="browser-default custom-select">
                <option *ngFor="let c of categoria" 
                [ngValue]="c"
                [selected]="c === trabajador.categoria"
                >{{c}}</option>
              </select>
            </div>

          </div>
        </div>
        <div class="buttons">
          <button (click)="Actualizar(trabajador)" class="btn btn-success">Guardar trabajador</button>
          <button (click)="VolverAGestion()" class="btn btn-info">Volver sin guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>