<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 style="display: inline-block;">Gestionar información</h3>
      <button (click)="Nuevo()" class="btn btn-outline-success" style="float: right;">Nuevo dato</button> 
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>DATO</th>
            <th>VALOR</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of infos" class="text-center table-light">
            <td>{{info.dato}}</td>
            <td>{{info.valor}}</td>
            <td class="mx-auto w-25">
              <button (click)="Editar(info)" class="btn btn-outline-warning mb-2">Editar</button>
			  
              <button (click)="Delete(info)" class="btn btn-outline-danger" style="margin-left: 10px;" disabled>Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>