<!-- Header -->
<header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>{{nombreRestaurante}}</h1>
              <p>{{descripcionCorta}}</p>
              <a href="#about" class="btn btn-custom btn-lg page-scroll">Descubre nuestra historia</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-img"><img src="../assets/img/about.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Nuestro restaurante</h2>
            <hr>
            <p>{{descripcionLarga}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  